{% extends "base.html" %}

{% block title %}
About
{%  endblock %}

{% block content %}
<article>
    <header>
        <p>This website and service were built as a first attempt at learning some new concepts in Python programming.</p>
        <p>It uses the following tools and technologies:</p>
        <p>
            <li>Python</li>
            <li>Flask (Python web development framework)</li>
            <li>BeautifulSoup (Python web scraping library)</li>
            <li>SQLAlchemy</li>
            <li>SQLite</li>
            <li>Visual Studio Code</li>
        </p>
    </header>
</article>
{% endblock %}