{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %}
Sign Up
{%  endblock %}

{% block content %}
    <section>
        <h3 style="clear:both">Sign Up</h3>
        <form action="" method="post">
            {{form.hidden_tag()}}
            <table>
                {{ render_field(form.userid, size=50) }}
                {{ render_field(form.email, size=50) }}
                {{ render_field(form.recaptcha) }}
                <tr class="submit">
                    <td></td>
                    <td><button type="submit">Submit</button>
                    </td>
                </tr>
            </table>
            <div class="g-recaptcha" data-sitekey="6LdFBzoUAAAAAO4mIRuyvATCSf9RkghyQzKY5LV5"></div>
        </form>
    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}